.jumbotron{
		width:800px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		padding: 20px; 


	}

	.table{

		margin-top:20px;

	}

	.form-control{
		margin-bottom: 20px;
	}

	.selecionado{

		background-color: yellow !important;

	}